@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/roboto.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
  }



  html {
    scroll-behavior: smooth;
  }


  * {
    box-sizing: border-box;
  }


  body {

    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color:#CFDBDA;
    background-repeat: no-repeat;
    background-size: cover; 
    
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;

  }
